
<div>
  <button class="btn" (click)="sortTable('id')">sort by Id</button>
  <button class="btn" (click)="sortTable('email')">sort by Name</button>

  <button class="btn" (click)="sortTable('reset')">Reset</button>
</div>

<div>
  <div>
      <input type="text" placeholder="search input" [formControl] = "searchInput">
  </div>
<table>
  <tr>
    <th>email</th>
    <th>id</th>
  </tr>
  <tr *ngFor="let user of users | searchPipe:searchValue">
      <td>{{user?.email}}</td>
      <td>{{user?.id}}</td>
  </tr>
</table>
</div>